# Let GitHub pass the raw event- and comment-data to cli for processing
name: Import Match
run-name: "Import Match ${{ github.event.issue.title }}"

on:
  issues:
    types: [ closed ]

jobs:
  import-match:
    if: contains(github.event.issue.labels.*.name, 'spieltag') && github.event.issue.state == 'closed'
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.TOKEN }}

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '21'
          cache: 'gradle'

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4
        with:
          gradle-version: '9.3.1'

      - name: Setup just
        uses: extractions/setup-just@v3
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          just-version: '1.46.0'

      # 1. Read the issue and comments from GitHub and write them to match.json
      - name: Parse Event and Comments - Provide match.json
        env:
          GH_TOKEN: ${{ github.token }}
          EVENT_JSON: ${{ toJson(github.event) }}
        run: |
          COMMENTS_JSON=$(gh issue view ${{ github.event.issue.number }} --json comments)
          echo "$EVENT_JSON" > event.json
          echo "$COMMENTS_JSON" > comments.json
          cat event.json
          cat comments.json
          jq -n --slurpfile event event.json --slurpfile comments comments.json '{
            id: $event[0].issue.id,
            title: $event[0].issue.title,
            body: $event[0].issue.body,
            created_at: $event[0].issue.created_at,
            closed_at: $event[0].issue.closed_at,
            labels: [$event[0].issue.labels[].name],
            comments: [$comments[0].comments[].body]
          }' > match.json
          cat match.json

      # 2. Run the import-match command
      - name: Import Match to CSV
        run: just tagessieg import -i match.json

      # 3. Commit and Push changes
      - name: Commit and Push
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "github-actions[bot]@users.noreply.github.com"
          git add _data/*.csv
          git commit -m "Import match ${{ github.event.issue.title }}" || echo "No changes to commit"
          git push


