# Let GitHub pass the raw event- and comment-data to cli for processing
name: Import Match
run-name: "Import Match ${{ github.event.issue.title }}"

on:
  issues:
    types: [ closed ]

jobs:
  import-match:
    if: contains(github.event.issue.labels.*.name, 'spieltag') && github.event.issue.state == 'closed'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Dump GitHub context
        env:
          GITHUB_CONTEXT: ${{ toJson(github) }}
        run: echo "$GITHUB_CONTEXT"

      - name: Dump Combined Issue Data JSON
        env:
          GH_TOKEN: ${{ github.token }}
          EVENT_JSON: ${{ toJson(github.event) }}
        run: |
          COMMENTS_JSON=$(gh issue view ${{ github.event.issue.number }} --json comments)
          echo "$EVENT_JSON" > event.json
          echo "$COMMENTS_JSON" > comments.json
          jq -n --slurpfile event event.json --slurpfile comments comments.json '{"event": $event[0], "comments": $comments[0].comments}'
