# Let GitHub pass the raw event- and comment-data to cli for processing
name: Import Match
run-name: "Import Match ${{ github.event.issue.title }}"

on:
  issues:
    types: [ closed ]

jobs:
  import-match:
    # only run if the issue has the 'spieltag' label
    if: contains(github.event.issue.labels.*.name, 'spieltag') && github.event.issue.state == 'closed'
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      # Check out the repo - main branch
      - uses: actions/checkout@v4

      # Setup Java
      - uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '21'
          cache: 'gradle'

      # Setup Gradle
      - name: Validate Gradle Wrapper
        run: ./gradlew --version
      # Setup just
      - name: Setup just
        uses: extractions/setup-just@v3
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          just-version: 'latest'

      - name: Install just
        run: |
          sudo apt-get update
          sudo apt-get install -y just

      - name: Test Just
        run: |
          just tagessieg -f json info

      # 1. Read the issue and comments from GitHub and write them to match.json
      - name: Parse Event and Comments - Provide match.json
        env:
          GH_TOKEN: ${{ github.token }}
          EVENT_JSON: ${{ toJson(github.event) }}
        run: |
          COMMENTS_JSON=$(gh issue view ${{ github.event.issue.number }} --json comments)
          echo "$EVENT_JSON" > event.json
          echo "$COMMENTS_JSON" > comments.json
          jq -n --slurpfile event event.json --slurpfile comments comments.json '{
            id: $event[0].issue.id,
            title: $event[0].issue.title,
            body: $event[0].issue.body,
            created_at: $event[0].issue.created_at,
            closed_at: $event[0].issue.closed_at,
            labels: [$event[0].issue.labels[].name],
            comments: [$comments[0].comments[].body]
          }' > match.json
          cat match.json


