# Let GitHub pass the raw event- and comment-data to cli for processing
name: Import Match
run-name: "Import Match ${{ github.event.issue.title }}"

on:
  issues:
    types: [ closed ]

jobs:
  import-match:
    if: contains(github.event.issue.labels.*.name, 'spieltag') && github.event.issue.state == 'closed'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '21'

      - name: Validate Gradle Wrapper
        run: ./gradlew --version

      - name: Dump Combined Issue Data JSON
        env:
          GH_TOKEN: ${{ github.token }}
          EVENT_JSON: ${{ toJson(github.event) }}
        run: |
          COMMENTS_JSON=$(gh issue view ${{ github.event.issue.number }} --json comments)
          echo "$EVENT_JSON" > event.json
          echo "$COMMENTS_JSON" > comments.json
          jq -n --slurpfile event event.json --slurpfile comments comments.json '{
            id: $event[0].issue.id,
            title: $event[0].issue.title,
            body: $event[0].issue.body,
            closed_at: $event[0].issue.closed_at,
            labels: [$event[0].issue.labels[].name],
            comments: [$comments[0].comments[].body]
          }' > combined.json
          cat combined.json
